@charset "UTF-8";

@import "./Tags.css";
@import "./Text.css";
@import "./SideBar.css";
@import "./IFrame.css";
@import "./Modal.css";

.waiting * {
    cursor: wait;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgba(var(--background-rgb), 1);
}