@charset "UTF-8";

@import "./QuestionEditor.css";

#QNAVIEW {
    width: 100%;
    height: 100%;
    position: absolute;
}

.QnA {
    width: 620px;
    max-height: 80%;
    background-color: white;

    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid rgba(var(--text-sub-rgb), 1);

    z-index: 9999;
    cursor: move;

    /* 드래그 시 선택 방지*/
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* 인터넷익스플로러 */
    user-select: none;
}

.QnA {
    display: none;
}

.QnA:focus {
    outline: none;
}

/**head*/

.QNAView-head {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.QNAView-head-sectionName {
    font-size: 17px;
    font-weight: 700;
}

/**body*/

.QNAView-body {
    overflow-y: auto;
    padding: 10px;
    flex-grow: 1;
    width: calc(100% - 20px);
}

.QNAView-body::-webkit-scrollbar {
    /* Chrome/Safari/Webkit */
    width: 4px;
}

.QNAView-body::-webkit-scrollbar-thumb {
    background: rgba(var(--scroll-rgb), 1);
    border-radius: 10px;
}

.QNAView-body-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.QNAView-body-list-item-question {
    padding: 10px;
    border-top: 1px solid rgba(var(--text-sub-rgb), 1);
}

.QNAView-body-list-item-question:first-child {
    border-top: 0;
}

.QNAView-body-list-item-answer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 30px;
}

.QNAView-body-list-item-head {
    font-size: 15px;
    font-weight: 600;
}

.QNAView-body-list-item-body {
    font-size: 15px;
    white-space: break-spaces;
}