@charset "UTF-8";

@import "./styles.css";
@import "./Tags.css";
@import "./Text.css";
@import "./Box.css";
@import "./Button.css";

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(var(--background-strong-rgb), 1);
    border-radius: 10px;
}

/* container */
/*********************************************************************************************/
.container {
    margin-top: 40px;
    margin-left: calc((100% - 700px) / 2);
    margin-right: calc((100% - 700px) / 2);
}

/* WORKTABLE */
/*********************************************************************************************/
#WORKTABLE {
    border-collapse: collapse;
}

#WORKTABLE>tr {
    border-bottom: 1px solid rgba(var(--background-strong-rgb), 1);
}

#WORKTABLE>tr:nth-child(1) {
    border: 0;
}

#WORKTABLE>tr>td {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.67;
}

#WORKTABLE>tr>td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#WORKTABLE>tr>td:nth-child(2) {
    width: 500px;
    padding-left: 50px;
}

#WORKTABLE>tr>td:nth-child(2):hover {
    cursor: pointer;
}