@charset "UTF-8";

@import "./styles.css";

.button {
    cursor: pointer;
    font-weight: bold;
    border: 0;
    border-radius: 12px;
    color: rgba(var(--background-rgb), 1);
    background-color: rgba(var(--highlight-rgb), 1);
}

.button:disabled {
    cursor: not-allowed;
    color: rgba(var(--text-weak-rgb), 1);
    background-color: rgba(var(--highlight-weak-rgb), 1);
}

.button:hover:enabled {
    background-color: rgba(var(--highlight-strong-rgb), 1);
}

.buttonWrapper-reverse {
    display: flex;
    flex-direction: row-reverse;
}