@charset "UTF-8";

@import "./styles.css";
@import "./Button.css";
@import "./Tags.css";
@import "./Input.css";
@import "./Text.css";

.waiting * {
    cursor: wait;
}

body {
    margin: 0;
}

/* CONTAINER */
/*********************************************************************************************/
#CONTAINER {
    margin-left: calc((100% - 250px) / 2);
    margin-right: calc((100% - 250px) / 2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* LOGO */
/*********************************************************************************************/
#LOGOSECTION {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

#LOGOSECTION:hover {
    cursor: pointer;
}

#LOGO {
    margin-right: 10px;
    height: 48px;
}

#BRAND {
    font-weight: bold;
    font-size: 30px;
}

/* MASK */
/*********************************************************************************************/

#EMAILADDRESSROW {
    display: flex;
}

#EMAILADDRESSINPUT {
    flex: 0 0 auto;
    margin-right: 1em;
}

#AUTHENTICATEBUTTON {
    flex: 0 0 auto;
    margin-right: 1em;
}

#EMAILADDRESSINPUT,
#AUTHENTICATECODEINPUT,
#PASSWORDINPUT,
#PASSWORDCHECKINPUT {
    width: 100%;
    height: 40px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    background-color: rgba(var(--background-weak-rgb), 1);
    border: 1px solid rgba(var(--line-rgb), 1);
}

#EMAILADDRESSINPUT:focus,
#AUTHENTICATECODEINPUT:focus,
#PASSWORDINPUT:focus,
#PASSWORDCHECKINPUT:focus {
    outline: none;
}

#AUTHENTICATEBUTTON {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    line-height: 16px;
    height: 40px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;

    cursor: pointer;
    border: 0;
    color: rgba(var(--background-rgb), 1);
    background-color: rgba(var(--highlight-rgb), 1);
}

#AUTHENTICATEBUTTON:hover:enabled {
    background-color: rgba(var(--highlight-strong-rgb), 1);
}

#PASSWORDCHANGEBUTTON {
    font-size: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    line-height: 16px;
    width: 100%;
    height: 40px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;

    cursor: pointer;
    border: 0;
    color: rgba(var(--background-rgb), 1);
    background-color: rgba(var(--highlight-rgb), 1);
}

#PASSWORDCHANGEBUTTON:hover:enabled {
    background-color: rgba(var(--highlight-strong-rgb), 1);
}

#EMAILERRORMESSAGE {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.5px;
    color: #ff003e;
    vertical-align: middle;
    padding-left: 5px;
}

#PASSWORDERRORMESSAGE.errorMessage {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.5px;
    color: #ff003e;
    vertical-align: middle;
    padding-left: 5px;
}

#PASSWORDERRORMESSAGE.warningMessage {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -.5px;
    color: #ffa41c;
    vertical-align: middle;
    padding-left: 5px;
}

.mask #PASSWORD {
    margin-top: 17px;
}

.mask #PASSWORDCHECK {
    margin-top: 17px;
}