@charset "UTF-8";

@import "./SideBar.css";
@import "./IFrame.css";
@import "./Help.css";

.waiting, .waiting * {
    cursor: wait;
}

html {
    overflow: hidden;
}

body {
    margin: 0;
    height: 100vh;
    position: relative;
}