@charset "UTF-8";

@import "./Input.css";
@import "./ImageView.css";

.solutionEditor {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.solutionEditor p {
    color: rgba(var(--text-sub-rgb), 1);
    font-size: 15px;
}

.solutionEditor-image {
    flex: 0 1 auto;
    height: 60%;
    border-radius: 10px;
    /* background-color: rgba(var(--background-weak-rgb), 1); */
    border: 2px dashed rgba(var(--line-rgb), 1);
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.image-top {
    flex: 0 1 auto;
    height: 30px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.image-top>p:first-child {
    flex: 1 1 auto;
}

.image-file {
    flex: 1 1 auto;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-graphic {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-graphic>img {
    content: url("../assets/upload.png");
    height: 50px;
}

/* .file-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 10px;
}

.file-preview>img {
    height: 100%;
} */

.image-preview {
    width: 100%;
    height: calc(100% - 40px);
}

.deleteButton {
    width: 20px;
    height: 20px;
    padding: 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
}

.deleteButton>img {
    width: 100%;
    height: 100%;
}

.deleteButton:active>img {
    width: 80%;
    height: 80%;
}

.solutionEditor-text {
    flex: 1 1 auto;
    border-radius: 10px;
    /* background-color: rgba(var(--background-weak-rgb), 1); */
    border: 1px solid rgba(var(--line-rgb), 1);
    box-sizing: border-box;
    width: 100%;
    /* height: 150px; */
    padding: 10px;
}

.solutionEditor-textArea {
    background-color: transparent;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 15px;
    border: 0;
    resize: none;
    width: 100%;
    height: 100%;
}

.solutionEditor-textArea:focus {
    outline: none;
}

.solutionEditor-submit {
    flex: 0 1 auto;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;
}

.submitButton {
    cursor: pointer;
    font-weight: bold;
    border: 0;
    border-radius: 20px;
    color: rgba(var(--highlight-rgb), 1);
    background-color: rgba(var(--background-rgb), 1);
    border: 1px solid rgba(var(--highlight-rgb), 1);
    width: fit-content;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}

.submitButton:hover {
    color: rgba(var(--background-rgb), 1);
    background-color: rgba(var(--highlight-rgb), 1);
}